<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad_pet_doctor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Madpetdoctor">
        <activity android:name=".ScheduleApprovalsActivity"></activity>
        <activity android:name=".PetBookFormActivity" />
        <activity android:name=".MedicalProfActivity" />
        <activity android:name=".EnterScheduleActivity" />
        <activity android:name=".BookingConfirmationActivity" />
        <activity android:name=".AppointmentViewActivity" />
        <activity android:name=".AppointmentsActivity" />
        <activity android:name=".DailyReportsActivity" />
        <activity android:name=".AppointmentDetailsActivity" />
        <activity android:name=".ContactUsActivity" />
        <activity android:name=".CardPayActivity" />
        <activity android:name=".CreateAccount" />
        <activity android:name=".AuthActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>